name: Build

on:
  push:
    branches:
    - master
  pull_request:
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@6cab415574bf67882182b34516fd2934b9dc5800 # v1.7.0
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@6cab415574bf67882182b34516fd2934b9dc5800 # v1.7.0
