name: Build

on:
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'macOS-12', 'windows-2022']
        go: ['1.19.x', '1.18.x']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
    - uses: golangci/golangci-lint-action@v3
    - run: |
        go test -race -covermode atomic -coverprofile=profile.cov ./...
      shell: bash
    - uses: shogo82148/actions-goveralls@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-profile: profile.cov
        parallel: true
        flag-name: Go-${{ matrix.os }}-${{ matrix.go }}
  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: shogo82148/actions-goveralls@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
