name: Test with gotip

on:
  schedule:
    - cron: "0 1 * * 1-5"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os-version: ["ubuntu-22.04", "macos-14", "windows-2025"]
    runs-on: ${{ matrix.os-version }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
          cache: false
      - name: Install gotip
        shell: bash
        run: |
          go install golang.org/dl/gotip@latest
          GOROOT_BOOTSTRAP="$(go env GOROOT)" gotip download
      - name: Test
        shell: bash
        run: gotip test -race ./...
